<div class="container-fluid bg-white py-3 d-block d-lg-none">
  <div class="row">

    <div class="col text-center">
      
      Home
    </div>

    <div class="col text-center">
      Games
    </div>

    <div class="col text-center">
      Enter PIN
    </div>

    <div class="col text-center">
      Log In
    </div>

    <div class="col text-center">
      Sign Up
    </div>
  </div>
</div>
