<HeaderProject/>
<div class="container-fluid">
  <div class="row">
    <div class="col-12 d-flex align-items-center text-center bg-blue" style="height: 100vh">
      <div class="container-fluid">
        <div class="row">

          <div class="col-12 text-center text-white">
            <h1><b>Paper & Scissors</b></h1>
          </div>

          <form id="formCodeGame" class="text-center col-12">
            <div class="container-fluid">
              <div class="row">
                <div class="col-12">
                  <div class="form-group">
                    <input class="control-form" type="text" id="txtCode" placeholder="Código de juego" required>
                  </div>
                </div>

                <div class="col-12 text-center">
                  <button class="btn btn-dark">Unirse</button>
                </div>

              </div>
            </div>
          </form>

        </div>
      </div>
    </div>

    <div class="position-fixed col-12 text-right p-0" style="bottom: 0px; right: 0px">
      <FooterProject/>
    </div>

  </div>
</div>
