<HeaderProject/>
<div class="container-fluid p-0">
  <div class="row position-relative">
    <div class="col-12 text-center bg-blue pb-5 mb-2 p-0" style="height: 100vh">
      <div class="container-fluid mt-0 mt-lg-3">
        <div class="row">

          <div class="col-12 col-sm-12 col-md-1 col-lg-2">

          </div>

          <div class="col-12 col-sm-12 col-md-10 col-lg-8 mb-3">
            <div class="table-responsive">
              <table class="table table-hover pt-0 bg-white mb-5 mb-lg-0">
                <thead>
                  <tr>
                    <th>User</th>
                    <th>Score</th>
                  </tr>
                </thead>
                <tbody>
                  <ShowScores @user={{model.user}}/>
                </tbody>
              </table>
            </div>
          </div>

          <div class="col-12 col-sm-12 col-md-1 col-lg-2">

          </div>

        </div>
      </div>
    </div>

    <div class="position-fixed col-12 text-right p-0" style="bottom: 0px; right: 0px">
      <FooterProject/>
    </div>
  </div>
</div>
